.list {
    margin-left: 0;
}

.listItem {
    padding: 10px 10px 10px 0;
    font-weight: 500;
}

.btn {
    margin-left: 30px;
    width: 60px;
    height: 25px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: lightblue;
    color: black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 500ms ease;
}

.btn:hover {
    box-shadow: 5px 5px 5px rgb(85, 84, 84);
}

.paragraph {
    margin-left: 20px;
}